<div class="ui segment">
  <div class="ui header">
    <h1 style="text-align: center">Spel:</h1>
  </div>
  <div class="ui card">
      <div class="content">
        <h1 class="titel">{{ spel.titel }}</h1>
        <h3 class="beschrijving"> {{ spel.beschrijving }}</h3>
      </div>
    
      <div class="content">
          Benodigdheden:
          <ul class="ui list">
            <li *ngFor='let nodig of spel.benodigdheden'>
              <app-benodigdheid [benodigdheid]="nodig"></app-benodigdheid>
            </li>
          </ul>
        </div>  
    
      <div class="content">
        <p class="ui content">Aantal kinderen: {{ spel.minAantal }} tot {{ spel.maxAantal }}</p>
      </div>
    
      <div class="content">
          Doelgroepen:
          <ul class="ui list">
            <li *ngFor='let dg of spel.doelgroepen'>
              <app-doelgroep [doelgroep]="dg"></app-doelgroep>
            </li>
          </ul>
        </div>  

      <div class="content">
        <p><i>Toegevoegd op: {{spel.datumToegevoegd | date:'dd/MM/yyyy'}}</i></p>
      </div>
  </div>
  <app-rating></app-rating>
</div>