<div class="ui segment">
  <div class="ui header">
    <h1 style="text-align: center">Spel:</h1>
  </div>
  <div class="ui card">
      <div class="content">
        <h1 class="titel">{{ spel.titel }}</h1>
        <h3 class="beschrijving"> {{ spel.beschrijving }}</h3>
      </div>
    
      <div class="content">
          Benodigdheden:
          <ul class="ui list">
            <li *ngFor='let nodig of spel.benodigdheden'>
              <app-benodigdheid [benodigdheid]="nodig"></app-benodigdheid>
            </li>
          </ul>
        </div>  
    
      <div class="content">
        <p class="ui content">Aantal kinderen: {{ spel.minAantal }} tot {{ spel.maxAantal }}</p>
      </div>
    
      <div class="content">
          Doelgroepen:
          <ul class="ui list">
            <li *ngFor='let dg of spel.doelgroepen'>
              <app-doelgroep [doelgroep]="dg"></app-doelgroep>
            </li>
          </ul>
        </div>  

      <div class="content">
        <p><i>Toegevoegd op: {{spel.datumToegevoegd | date:'dd/MM/yyyy'}}</i></p>
      </div>

      <div class="content">
        Gemiddelde Rating: <i class="star outline icon"></i> {{ spel.averageRating }}
      </div>

      <div class="content">
        Alle Ratings: <p *ngFor='let rating of spel.ratings'>{{rating.rate}} from {{rating.username}}</p>
      </div>

      <div *ngIf='hasNotVoted(authService.user$.value)' class="content">
        Vote:
        <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">  
          <i class="star outline icon"></i>   
         </a>  
        <br>  
        Jouw beoordeling :- {{vote}} stars
        <a class="btn btn-primary" (click)="addRating()">Vote!</a>  
      </div>
      
  </div>
</div>