<form class="ui form" [formGroup]='spel' (ngSubmit)='onSubmit()'>
  <h3 class="ui header">Voeg Spel Toe</h3>
  <div class="field">
    <label for='titel'>Titel:</label>
    <input type="text" id="titel" formControlName='titel'>
  </div>

  <div class="field">
    <label for="beschrijving">Beschrijving:</label>
    <input type="text" id="beschrijving" formControlName='beschrijving'>
  </div>

  <div formArrayName='benodigdheden'
      *ngFor='let item of spel.get("benodigdheden").controls; let i = index'>
    <div [formGroupName] = 'i'>
      <label for="benodigdheid_naam">Benodigdheden:</label>
      <div>
        <input type="number" id="benodigdheid_aantal" formControlName='aantal'>
        <input type="text" id="benodigdheid_naam" formControlName='naam'>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="minAantal">Minimum</label>
    <input type="number" id="minAantal" formControlName='minAantal'>
    <label for="maxAantal">Maximum</label>
    <input type="number" id="maxAantal" formControlName='maxAantal'>
  </div>

  <div class="field">
    <label for='beschrijving'>Doelgroepen:</label>
    <div>
        <input type="checkbox" ng-model="formData.doelgroep.kl" name="doelgroep" value="kleuters"/>Kleuters <br />
        <input type="checkbox" ng-model="formData.doelgroep.act" name="doelgroep" value="actief"/>Actief <br />
        <input type="checkbox" ng-model="formData.doelgroep.crea" name="doelgroep" value="creatief"/>Creatief <br />
        <input type="checkbox" ng-model="formData.doelgroep.kas" name="doelgroep" value="kastaards"/>Kastaards <br />
    </div>
  </div>



  <button type="submit">Voeg Toe</button>
</form>
