<form class="ui form" [formGroup]='spel' (ngSubmit)='onSubmit()'>
  <h3 class="ui header">Voeg Spel Toe</h3>
  <div class="field">
    <label for='titel'>Titel:</label>
    <input type="text" id="titel" formControlName='titel'>

  </div>

  <div class="field">
    <label for="beschrijving">Beschrijving:</label>
    <input type="text" id="beschrijving" formControlName='beschrijving'>
  </div>

  <div class="field" formArrayName='benodigdheden'
      *ngFor='let item of spel.get("benodigdheden").controls; let i = index'>
    <div [formGroupName] = 'i'>
      <label for="benodigdheid_naam">Benodigdheden:</label>
      <ul>
        <li>Aantal: <input type="number" formControlName='aantal'></li>
        <li>Item: <input type="text" formControlName='naam'></li>
      </ul>
    </div>
  </div>

  <div class="field">
    <label for="minAantal">Minimum aantal kinderen:</label>
    <input type="number" id="minAantal" formControlName='minAantal'>
    <label for="maxAantal">Maximum aantal kinderen:</label>
    <input type="number" id="maxAantal" formControlName='maxAantal'>
  </div>

  <div class="field" formArrayName='doelgroepen'
      *ngFor='let dg of spel.get("doelgroepen").controls; let i = index'>
    <div [formGroupName] = 'i'>
      <label for="doelgroep_naam">Doelgroepen:</label>
      <div *ngFor='let dg of doelgroepen'>
        <input type="checkbox" name="doelgroepen" value="{{dg}}" /> {{dg}}
      </div>
    </div>
  </div>

  <button type="submit">Voeg Toe</button>
</form>
