<div class="ui segment">
  <form class="ui form" [formGroup]='spel' (ngSubmit)='onSubmit()'>
    <h3 class="ui header">Voeg Spel Toe</h3>
    <div class="field">
      <label for='titel'>Titel:</label>
      <input type="text" id="titel" formControlName='titel'>
        <div *ngIf='(spel.get("titel").errors?.required || spel.get("titel").errors?.minlength || spel.get("titel").errors?.maxlength)'>
          <div *ngIf='spel.get("titel").touched'>
            <p class="wrongInput">Gelieve een titel in te vullen tussen 3 en 32 letters!</p>
          </div>   
        </div>
    </div>

    <div class="field">
      <label for="beschrijving">Beschrijving:</label>
      <input type="text" id="beschrijving" formControlName='beschrijving'>
      <div *ngIf='spel.get("beschrijving").errors?.required'>
          <div *ngIf='spel.get("beschrijving").touched'>
              <p class="wrongInput">Gelieve een beschrijving in te vullen!</p>
          </div>
        </div>
    </div>

    <div class="field" formArrayName='benodigdheden'
        *ngFor='let item of spel.get("benodigdheden").controls; let i = index'>
      <div [formGroupName] = 'i'>
        <label for="benodigdheid_naam">Benodigdheden:</label>
        <ul>
          <li>Aantal: <input type="number" formControlName='aantal'></li>
          <li>Item: <input type="text" formControlName='naam'></li>
        </ul>
      </div>
    </div>

    <div class="field">
      <label for="minAantal">Minimum aantal kinderen:</label>
      <input type="number" id="minAantal" placeholder="Minimum" formControlName='minAantal'>
        <div *ngIf='spel.get("minAantal").errors?.min || spel.get("minAantal").errors?.max'>
          <div *ngIf='spel.get("minAantal").touched'>
              <p class="wrongInput">Gelieve een acceptabel minimum in te vullen!</p>
          </div>
        </div>
      <label for="maxAantal">Maximum aantal kinderen:</label>
      <input type="number" id="maxAantal" placeholder="Maximum" formControlName='maxAantal'>
        <div *ngIf='spel.get("maxAantal").errors?.min || spel.get("maxAantal").errors?.max'>
          <div *ngIf='spel.get("maxAantal").touched'>
              <p class="wrongInput">Gelieve een acceptabel maximum in te vullen!</p>
          </div>
        </div>
    </div>

    <div class="field">
      <label for="doelgroep_naam">Doelgroepen:</label>
      <div formArrayName="doelgroepen" *ngFor='let item of spel.get("doelgroepen").controls; let i = index'>
        <div [formGroupName]="i">
          <div class="field">
            <select class='ui fluid dropdown' id="doelgroep_naam" formControlName='naam'>
              <option *ngFor='let dg of alleDoelgroepen' [value]='dg'>
                {{dg}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    
    <button type="submit">Voeg Toe</button>
  </form>
</div>