<div class="ui card">
  <div class="content">
    <a class="header" href='/spel/{{spel.id}}'>{{ spel.titel }}</a>
    <a class="ui content"> {{ spel.beschrijving }}</a>
  </div>

  <div class="content">
    <a class="ui content">Min: {{ spel.minAantal }} </a>
  </div>

  <div class="content">
      <a class="ui content">Max: {{ spel.maxAantal }} </a>
  </div>
  <div class="content">
    Doelgroepen:
    <ul class="ui list">
      <li *ngFor='let dg of spel.doelgroepen'>
        <app-doelgroep [naam]="dg"></app-doelgroep>
      </li>
    </ul>
  </div>  
  <div class="content">
  <p><i>Toegevoegd op: {{spel.datumToegevoegd | date:'dd/MM/yyyy'}}</i></p>
  </div>
  <button class="ui icon button" (click)="removeSpel()">
    <i class="trash outline icon"></i>
  </button>
</div>